.contactBlock {
    min-height: 30vh;
}
.contactContainer {
    flex-direction: column;
    justify-content: flex-start;
}
.contacts {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contacts input, .contacts textarea{
    width: 100%;
    margin: 5px;
}
.submitButton {
    padding: 10px 30px;
}
@media screen and (max-width: 600px){
    .contacts {
        width: 100%;
    }
}

